
.navbar {
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar h1 {
    color: white;
  }
  
  .blog-list-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: fit-content;

  }

  .content2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog-list-item h2 {
    margin-bottom: 5px;
    color: rgb(127, 158, 216);
    font-family: "Fredoka", sans-serif;
  }
  
  .blog-list-item p {
    margin-bottom: 10px;
  }
  
  .read-more-button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

  img {
    width: 500px;
  }
  